* {
    background-color: #cdb4db;
    margin: 0;
    padding: 0;
}

.name-apresentation1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    padding: 10% 1% 0% 10%;
    display: inline-block;
}

.name-apresentation2 {
    font-family: serif;
    font-size: 70px;
    color: #fc0c78;
    display: inline-block;
    padding: 0% 1% 0% 0%;
}

.name-apresentation3 {
    font-family: serif;
    font-size: 30px;
    color: black;
    display: inline-block;
    padding: 0% 0% 0% 10%;
}

.name-apresentation4 {
    font-family: serif;
    font-size: 30px;
    color: #f72585;
    display: inline-block;
    padding: 0% 0% 5% 0%;
}

.photo img {
    width: 15%;
    border: 5px solid #f72585;
    margin: auto;
    display: block;
    padding-bottom: 1;
    border-radius: 50%;
}

#about-me h2 {
    padding-top: 2%;
    font-size: 20px;
    text-align: center;

}

.footer,
#sep {
    background-color: #a2d2ff;
    margin-top: 8%;
}